<div class="flex flex-row justify-between items-center">
  <h2 class="text-2xl font-medium">Виджеты</h2>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    (click)="createComponentModal()"
  >
    Добавить виджет
  </button>
</div>

<nz-divider></nz-divider>

@if (projectWidgets.length) {
<div
  class="drag-list"
  cdkDropListOrientation="mixed"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  @for (widget of projectWidgets; track widget.type) {
  <div
    cdkDrag
    class="drag-box relative"
    [style.width.%]="widget.width"
    [style.height.px]="widget.height"
  >
    <app-widget [widget]="widget" [projectData]="projectData"></app-widget>
    <div
      class="resize-handle"
      (mousedown)="onResizeStart($event, widget)"
    ></div>

    <button
      (click)="removeWidget(widget.type, projectData.id, projectWidgets)"
      nz-button
      nzType="default"
      class="absolute top-[12px] right-[20px]"
    >
      <span nz-icon nzType="delete" nzTheme="outline"></span>
    </button>
  </div>
  }
</div>
} @else {
<div class="flex items-center justify-center h-full">
  <nz-result nzStatus="404" nzTitle="Виджеты не добавлены"> </nz-result>
</div>
}
